
<span class="badge bg-@cssClass">@data</span>
@code {
    private QueueInfo? _queue;

    [Parameter]
    public QueueInfo? Queue
    {
        get => _queue; 
        set
        {
            _queue = value;
            SetState();
        }
    }

    private string? cssClass;
    private string? data;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    private void SetState()
    {
        if (_queue is null)
        {
            cssClass = "error";
            data = "Unknown";
            return;
        }

        if (_queue.PubPerSecond == 0
            && _queue.NackPerSecond == 0
            && _queue.AckPerSecond == 0
            && _queue.DeliverPerSecond == 0
            && _queue.RedeliverPerSecond == 0)
        {
            cssClass = "success";
            data = "Idle";
        }
        else if (_queue.NackPerSecond > 0 && _queue.AckPerSecond > 0)
        {
            cssClass = "warning";
            data = "Processing With Nacks";
        }
        else if (_queue.NackPerSecond > 0 && _queue.AckPerSecond == 0)
        {
            cssClass = "danger";
            data = "Not Processing";
        }
        else
        {
            cssClass = "success";
            data = "Processing";
        }
    }
}
